{% extends "base.html" %}

{% block content %}
    <h1>Профиль пользователя {{ user.username }}</h1>
    <p><strong>Почта: </strong>{{ user.email|default:"Не указана"}}</p>
    <p><strong>Дата рождения: </strong>{{ user.profile.birth_date|date:'d.m.Y'|default:"Не указана" }}</p>
    <p><strong>Фамилия: </strong>{{ user.last_name|default:"Не указана" }}</p>
    <p><strong>Имя: </strong>{{ user.first_name|default:"Не указанo" }}</p>
    <p><strong>Ссылка на Git: </strong>{{ user.profile.profile_link|default:"Не указанo" }}</p>
    <p><strong>Описание: </strong>{{ user.profile.profile_description|default:"Не указанo" }}</p>

    {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}" alt="user avatar">
    {% endif %}

    {% include "partial/project_list.html" %}

{% endblock content %}