{% extends 'base.html' %}

{% block content %}
    {% include 'partial/search_task.html' %}
    <h1>Список задач</h1>
{% for pj in project%}
            <div style="border: 2px solid black; max-width: 300px; margin-bottom: 20px; padding-left: 15px;border-radius: 33px">
            <h3 style=" text-overflow: ellipsis; max-width: 300px;white-space: nowrap; overflow:hidden;">{{ pj.name}}</h3>
            <p>{{ pj.descriptions }}</p>
            <p>Дата создание: {{ pj.date_start }}</p>
            <p>Дата окончания: {{ pj.date_end }}</p>
            <p><a href="{% url "project_view" pj.pk %}">Подробно....</a></p>
            <p><a href="{% url "project_update" pj.pk %}">Редактировать.</a></p>
            <p><a href="{% url "project_delete" pj.pk %}">Удалить.</a></p>
            </div>
        {% endfor %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}