{% extends "base.html" %}
{% block nav %}
    {% if user.is_authenticated %}
                    {% if perms.webapp.add_project %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'webapp:project_create' %}">Создание проекта</a>
                        </li>
                    {% endif %}
                    {% if perms.webapp.add_task %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "webapp:create_task" project.pk %}">Создать задачу</a>
                        </li>
                    {% endif %}
                    {% if perms.webapp.change_project %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'webapp:project_add_user' project.pk %}">исключить/добавить пользователя</a>
                        </li>
                    {% endif %}
                    {% if perms.webapp.change_project %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'webapp:project_update' project.pk %}">Редактировать проект</a>
                        </li>
                    {% endif %}
                    {% if perms.webapp.delete_project %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'webapp:project_delete' project.pk %}">Удалить проект</a>
                        </li>
                    {% endif %}
                {% endif %}
{% endblock %}


{% block content %}
    <h2>Список пользователей</h2>
    {% for us in users %}
        <p>{{ us }}</p>

    {% endfor %}

    <h1>Списки задач</h1>
    {% for ts in task %}
        <div style="border: 2px solid black; max-width: 300px; margin-bottom: 20px; padding-left: 15px;border-radius: 33px">
            <h3 style=" text-overflow: ellipsis; max-width: 300px;white-space: nowrap; overflow:hidden;">{{ ts.summary }}</h3>
            <p><a style="text-decoration: none" href="{% url "webapp:task_view" ts.pk %}">Подробно....</a></p>
            {% if user.is_authenticated %}
                {% if perms.webapp.change_task %}
                    <p><a style="text-decoration: none" href="{% url "webapp:update" ts.pk %}">Редактировать</a></p>
                {% endif %}
                {% if perms.webapp.delete_task %}
                    <p><a style="text-decoration: none" href="{% url "webapp:delete" ts.pk %}">Удалить</a></p>
                {% endif %}
            {% endif %}
        </div>

    {% endfor %}
    <p><a href="{% url "webapp:project" %}">На страницу проекта.</a></p>
{% endblock %}